$hair-color: #976533;
$eye-color:	$hair-color;	

$dark-eye: darken($eye-color, 25%);
$light-eye: saturate(lighten($eye-color, 10%), 25%);


$light-gray: #BDBDBD;
$skin-highlight: #F7A655;
$light-hair: $hair-color;
$dark-hair: darken($hair-color, 15%);
$hair-highlight:  saturate(lighten($hair-color, 30%), 25%);
//#CFA378;
$tongue: #FA6464;
$off-white: #FCFCFC;
$skin: #FDCB98;
$throat: #640000;
$red: #CA0000;
$dark-gray: #313131;
$jean: #003365;
$dark-black: #0B0805;	

@mixin stroke{
	stroke: $dark-black;
	stroke-width: 8;
	stroke-miterlimit: 10;
}

.light-gray{
	fill: $light-gray;
}
.skin-highlight{
	$fill: saturate(lighten($dark-hair, 20%), 45%);
	fill: rgba(red($fill),green($fill),blue($fill), 0.5);
	
	stroke: none;
}	
#SVGID,
#SVGID_2_{
	stop{
		&:first-of-type{
			stop-color: $dark-eye !important;
		}
		&:last-of-type{
			stop-color: $light-eye !important;
		}
	}
}
.st19{
	fill:url(#SVGID);
}
.st20{
	fill:url(#SVGID_2_);
}	
.light-hair{
	fill:$light-hair;
}
.tongue{
	fill: $tongue;
	stroke: none;
}
.skin,
.hand{
	fill: $skin;
}
.off-white,
.glare,
.teeth{
	fill: $off-white;
}
.throat{
	fill: $throat;
}	
.dark-hair,
.eyebrow{
	fill: $dark-hair;
}	
.red{
	fill: $red;
}	
.dark-gray,
.glasses .frame{
	fill: $dark-gray;
}
.hair-highlight{
	fill: $hair-highlight;
}
.jean{
	fill: $jean;
}	
.dark-black{
	fill: $dark-black;
}	


#iris{
	fill: url(#SVGID);
}




.stroked{
	@include stroke;
}


.pupil,
.glare,
.hair-highlight,
.mouth .closed,
.connector,
.hand .shadow{
stroke: none;
}

.foot{
	.top{
		fill: $red;
	}
	.side{
		fill: $light-gray;
	}
	.rubber{
		fill: $off-white;
	}
}

.belt{
	.strap{
		fill: $dark-hair;
	}
	.buckle{
		fill: $light-gray;
	}
}

#ball{
	margin-top: 1px;
margin-left: 1px;
}

