$eyebrow-rotation: -0deg;
$eyebrow-height: 15%;
$eyebrow-separation: 25;
$eye-separation: 2%;
$head-rotation: 0deg;
$arm-rotation-left: -10deg;
$arm-rotation-right: 10deg;
$leg-rotation-left: -0deg;
$leg-rotation-right: 0deg;
html,
body,
.head{
	height: 100%;
}
.nerd{
	position: relative;
	width: 1000px;
	height: 1800px;
}
.head{
	position: absolute;
	top: 4%;
	right: 0;
	left: 0;
	z-index: 20;
	overflow: visible;
	margin: 0 auto;
	width: 34%;
	height: 27%;
	-webkit-transform: rotate($head-rotation);
	-webkit-transform-origin: 50% 130%;
	>*{
		position: absolute;
		overflow: visible;
	}
}
.body{
	position: absolute;
	top: 33%;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 50%;
	height: 67%;
}
.ears{
	position: absolute;
	top: 39%;
	right: 0;
	left: 0;
	margin: auto;
	width: 100%;
	height: 25%;
	.left{
		position: absolute;
		margin-left: -49%;
		height: 100%;
		padding: 2%;//so no square ears
		
	}
	.right{
		position: absolute;
		right: 0;
		margin-right: -46%;
		height: 100%;
		padding: 2%;//so no square ears		
	}
}
.skin{
	right: 0;
	left: 0;
	margin: auto;
	width: 90%;
	height: 130%;
}
.hair{
	top: -33%;
	right: 0;
	left: -9%;
	margin: auto;
	width: 118%;
	padding: 1.2%;
}

.moles{
	top: 11%;
	right: 0;
	left: 0;
	margin: auto;
	width: 57%;
	padding: 0 2%;
}
@keyframes eyebrows{
	0% {margin-top: 0;}
	50% {margin-top: -10%;}
	100% {margin-top: 0;}
}
@-webkit-keyframes eyebrows{
	0% {margin-top: 0;}
	50% {margin-top: -10%;}
	100% {margin-top: 0;}
}
.eyes{
	top: 36%;
	right: 0;
	left: 0;
	margin: auto;
	width: 75%;
	height: 16%;
	>*{
		position: absolute;
	}
	.right{
		right: 0;
		height: 100%;
		width: 50%;
	}
	.left{
		left: 0;
		height: 100%;
		width: 50%;
	}
	.balls{
		top: 14%;
		right: 0;
		left: 0;
		margin: auto;
		width: 100%;
		height: 61%;
		.left{
			margin-left: -$eye-separation;
			position: absolute;
			left: 0;
			padding: 2%;
			margin-top: -2%;
			width: 50%;
			height: 100%;
		}
		
		.right{
			margin-right: -$eye-separation;
			position: absolute;
			right: 0;
			padding: 2%;
			margin-top: -2%;
			width: 50%;
			height: 100%;
		}
	}
	.eyebrows{
		top: #{-70% - $eyebrow-height};
		width: #{100% + 2* $eyebrow-separation};
		left: #{-$eyebrow-separation * 1%};
		height: 85%;
		animation: eyebrows 2s infinite;
		-webkit-animation: eyebrows 2s infinite;
		transition: margin-top 2s ease-in-out;
		.left{
			position: absolute;
			left: 0;
			-webkit-transform: rotate(-$eyebrow-rotation) translate(0, -$eyebrow-height);
			-webkit-transform-origin: 100% 50%;
			padding: 2%;
			width: 50%;
		}
		.right{
			position: absolute;
			right: 0;
			-webkit-transform: rotate($eyebrow-rotation) scale(1.18) translate(0, -$eyebrow-height);
			-webkit-transform-origin: 0% 50%;
			padding: 2%;
			width: 50%;
		}
	}
}

.nose{
	top: 51%;
	height: 16%;
	right: 0;
	left: 0;
	margin: auto;
	width: 37%;
	padding: 0 2%;
}
.mouth{
	top: 27%;
	right: 0;
	left: 0;
	margin: auto;
	width: 33%;
}
.collar{
	position: absolute;
	top: 32%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: auto;
	width: 12%;
	height: 25%;
	-webkit-transform: rotate(#{$head-rotation / 2});
	-webkit-transform-origin: 50% 10%;
}
.collar_back{
	top: 112%;
	height: 20%;
	left: 0;
	right:0;
	margin: auto;
	width: 38%;
	-webkit-transform: rotate(#{$head-rotation / 2});
}

.torso{
	position: absolute;
	top: 4%;
	right: 0;
	left: 0;
	margin: auto;
	height: 38%;
}
.glasses{
	top: -16%;
	left: -48%;
	width: 190%;
	height: 133%;
}


.arms{
	position: absolute;
	width: 100%;
	height: 62%;
	//left: -8%;//half of 116%'s remainder'
	top: 4%;
	.left{
		position: absolute;
		right: auto;
		left: 50%;
		margin-left: 1%;
		width: 40%;
		height: 100%;
		-webkit-transform: rotate($arm-rotation-left);
		-webkit-transform-origin: 2% 2%;
		.arm{
			position: absolute;
			height: 62%;
		}
		.hand{
			position: absolute;
			bottom: 8%;
			left: -9%;
			height: 32%;
		}
	}
	.right{
		position: absolute;
		right: 50%;
		left: auto;
		margin-right: 1%;
		width: 40%;
		height: 100%;
		-webkit-transform: rotate($arm-rotation-right);
		-webkit-transform-origin: 98% 2%;
		.arm{
			position: absolute;
			right: 0;
			height: 62%;
		}
		.hand{
			position: absolute;
			right: 0%;
			bottom: 8%;
			height: 32%;
		}
	}
}

.legs{
	position: absolute;
	top: 36%;
	width: 100%;
	height: 62%;
	.leg{
		position: absolute;
		height: 87%;

	}
	.left{
		left: 50%;
		margin-left: -3%;
		-webkit-transform: rotate($leg-rotation-left);
		-webkit-transform-origin: 10% 10%;
	}
	.right{
		right: 50%;
		margin-right: -7%;
		-webkit-transform: rotate($leg-rotation-right);
		-webkit-transform-origin: 90% 10%;
	}
}
.adams_apple{
	top: 47%;
	right: 0;
	left: 6%;
	margin: auto;
	width: 12%;
	padding-left: 14px;
}

.teeth_upper{
	top: 30%;
	right: 0;
	left: 6%;
	margin: auto;
	width: 21%;
}
