.light-gray {
  fill: #bdbdbd; }

.skin-highlight {
  fill: rgba(221, 114, 6, 0.5);
  stroke: none; }

#SVGID stop:first-of-type,
#SVGID_2_ stop:first-of-type {
  stop-color: #382513 !important; }
#SVGID stop:last-of-type,
#SVGID_2_ stop:last-of-type {
  stop-color: #dd7e20 !important; }

.st19 {
  fill: url(#SVGID); }

.st20 {
  fill: url(#SVGID_2_); }

.light-hair {
  fill: #976533; }

.tongue {
  fill: #fa6464;
  stroke: none; }

.skin,
.hand {
  fill: #fdcb98; }

.off-white,
.glare,
.teeth {
  fill: #fcfcfc; }

.throat {
  fill: #640000; }

.dark-hair,
.eyebrow {
  fill: #5e3f20; }

.red {
  fill: #ca0000; }

.dark-gray,
.glasses .frame {
  fill: #313131; }

.hair-highlight {
  fill: #ebb278; }

.jean {
  fill: #003365; }

.dark-black {
  fill: #0b0805; }

#iris {
  fill: url(#SVGID); }

.stroked {
  stroke: #0b0805;
  stroke-width: 8;
  stroke-miterlimit: 10; }

.pupil,
.glare,
.hair-highlight,
.mouth .closed,
.connector,
.hand .shadow {
  stroke: none; }

.foot .top {
  fill: #ca0000; }
.foot .side {
  fill: #bdbdbd; }
.foot .rubber {
  fill: #fcfcfc; }

.belt .strap {
  fill: #5e3f20; }
.belt .buckle {
  fill: #bdbdbd; }

#ball {
  margin-top: 1px;
  margin-left: 1px; }

/*# sourceMappingURL=bodyparts.css.map */