html,
body,
.head {
  height: 100%; }

.nerd {
  position: relative;
  width: 1000px;
  height: 1800px; }

.head {
  position: absolute;
  top: 4%;
  right: 0;
  left: 0;
  z-index: 20;
  overflow: visible;
  margin: 0 auto;
  width: 34%;
  height: 27%;
  -webkit-transform: rotate(0deg);
  -webkit-transform-origin: 50% 130%; }
  .head > * {
    position: absolute;
    overflow: visible; }

.body {
  position: absolute;
  top: 33%;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 50%;
  height: 67%; }

.ears {
  position: absolute;
  top: 39%;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 25%; }
  .ears .left {
    position: absolute;
    margin-left: -49%;
    height: 100%;
    padding: 2%; }
  .ears .right {
    position: absolute;
    right: 0;
    margin-right: -46%;
    height: 100%;
    padding: 2%; }

.skin {
  right: 0;
  left: 0;
  margin: auto;
  width: 90%;
  height: 130%; }

.hair {
  top: -33%;
  right: 0;
  left: -9%;
  margin: auto;
  width: 118%;
  padding: 1.2%; }

.moles {
  top: 11%;
  right: 0;
  left: 0;
  margin: auto;
  width: 57%;
  padding: 0 2%; }

@keyframes eyebrows {
  0% {
    margin-top: 0; }

  50% {
    margin-top: -10%; }

  100% {
    margin-top: 0; } }
@-webkit-keyframes eyebrows {
  0% {
    margin-top: 0; }

  50% {
    margin-top: -10%; }

  100% {
    margin-top: 0; } }
.eyes {
  top: 36%;
  right: 0;
  left: 0;
  margin: auto;
  width: 75%;
  height: 16%; }
  .eyes > * {
    position: absolute; }
  .eyes .right {
    right: 0;
    height: 100%;
    width: 50%; }
  .eyes .left {
    left: 0;
    height: 100%;
    width: 50%; }
  .eyes .balls {
    top: 14%;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 61%; }
    .eyes .balls .left {
      margin-left: -2%;
      position: absolute;
      left: 0;
      padding: 2%;
      margin-top: -2%;
      width: 50%;
      height: 100%; }
    .eyes .balls .right {
      margin-right: -2%;
      position: absolute;
      right: 0;
      padding: 2%;
      margin-top: -2%;
      width: 50%;
      height: 100%; }
  .eyes .eyebrows {
    top: -85%;
    width: 150%;
    left: -25%;
    height: 85%;
    animation: eyebrows 2s infinite;
    -webkit-animation: eyebrows 2s infinite;
    transition: margin-top 2s ease-in-out; }
    .eyes .eyebrows .left {
      position: absolute;
      left: 0;
      -webkit-transform: rotate(0deg) translate(0, -15%);
      -webkit-transform-origin: 100% 50%;
      padding: 2%;
      width: 50%; }
    .eyes .eyebrows .right {
      position: absolute;
      right: 0;
      -webkit-transform: rotate(0deg) scale(1.18) translate(0, -15%);
      -webkit-transform-origin: 0% 50%;
      padding: 2%;
      width: 50%; }

.nose {
  top: 51%;
  height: 16%;
  right: 0;
  left: 0;
  margin: auto;
  width: 37%;
  padding: 0 2%; }

.mouth {
  top: 27%;
  right: 0;
  left: 0;
  margin: auto;
  width: 33%; }

.collar {
  position: absolute;
  top: 32%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: auto;
  width: 12%;
  height: 25%;
  -webkit-transform: rotate(0deg);
  -webkit-transform-origin: 50% 10%; }

.collar_back {
  top: 112%;
  height: 20%;
  left: 0;
  right: 0;
  margin: auto;
  width: 38%;
  -webkit-transform: rotate(0deg); }

.torso {
  position: absolute;
  top: 4%;
  right: 0;
  left: 0;
  margin: auto;
  height: 38%; }

.glasses {
  top: -16%;
  left: -48%;
  width: 190%;
  height: 133%; }

.arms {
  position: absolute;
  width: 100%;
  height: 62%;
  top: 4%; }
  .arms .left {
    position: absolute;
    right: auto;
    left: 50%;
    margin-left: 1%;
    width: 40%;
    height: 100%;
    -webkit-transform: rotate(-10deg);
    -webkit-transform-origin: 2% 2%; }
    .arms .left .arm {
      position: absolute;
      height: 62%; }
    .arms .left .hand {
      position: absolute;
      bottom: 8%;
      left: -9%;
      height: 32%; }
  .arms .right {
    position: absolute;
    right: 50%;
    left: auto;
    margin-right: 1%;
    width: 40%;
    height: 100%;
    -webkit-transform: rotate(10deg);
    -webkit-transform-origin: 98% 2%; }
    .arms .right .arm {
      position: absolute;
      right: 0;
      height: 62%; }
    .arms .right .hand {
      position: absolute;
      right: 0%;
      bottom: 8%;
      height: 32%; }

.legs {
  position: absolute;
  top: 36%;
  width: 100%;
  height: 62%; }
  .legs .leg {
    position: absolute;
    height: 87%; }
  .legs .left {
    left: 50%;
    margin-left: -3%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 10% 10%; }
  .legs .right {
    right: 50%;
    margin-right: -7%;
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 90% 10%; }

.adams_apple {
  top: 47%;
  right: 0;
  left: 6%;
  margin: auto;
  width: 12%;
  padding-left: 14px; }

.teeth_upper {
  top: 30%;
  right: 0;
  left: 6%;
  margin: auto;
  width: 21%; }

/*# sourceMappingURL=standing.css.map */